html {
    font-size: 17.5px;
    line-height: 1.5;
    color: black;
    background-color: #F7F3E7;
}

body{
    height: 100vh;
    overflow: hidden;
    font-family: "Sawarabi Mincho", serif;
}
header{
    font-size: 1.2rem;
    padding: 10px 10px 20px 10px;
}
.textcontent{
    height: 70vh;
    writing-mode: vertical-rl;
    width: 100vw;
    overflow: scroll;
}
.title{
    padding: 20px;
}
.title h1{
    font-size: 1.5rem;
    margin-top: 10%;
}
.title h3{
    text-align: right;
}
.textcontent p{
    white-space: pre-line;
}
.date{
    text-align: right;
    font-size: 0.8rem;
    padding: 5px 5px 0 0;
}

/* footer{
    position: absolute;
    bottom: 5px;
} */

footer canvas{
    display: block;
    width: 80vw;
    margin: 1vh auto;
    height: 10vh;
}

.audiocontent{
    position: absolute;
    bottom: 1vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.audiocontent button{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.audiocontent audio{
    display: none;
}

#playButton{
    background: url(../img/play_button.png) no-repeat center center;
    background-size: 100%;
}

#stopButton{
    background: url(../img/stop_button.png) no-repeat center center;
    background-size: 100%;
    display: none;
}