<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/azumaya_top.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <title>四阿</title>
  </head>
  <body>
    <header>
      <img src="../static/img/logo-removebg-preview_1.png" alt="header_img" />
    </header>
    <main>
      <div class="titokoba">
        <a href="/audio_book" class="text-color">
          <h1>ちとこば</h1>
          <p>ちょっと小話聴きませんか？</p>
          <p>待ち時間にぴったりな</br>オーディオブックサービス</p>
        </a>
      </div>
      <div class="game">
        <a href="https://60561.play.unityroom.com/?expires=1739615012&salt=83682642042415724117793035672968702252&sig=28bd2c6c6299a6c414cb9de3f3c6e83f021ae7e0" class="text-color">
          <h1>月までうどん</h1>
          <p>宇宙を目指す スマホゲーム！</p>
          <p>若鯱家のカレーうどんは</br>いったい どこまで伸びるのかな？</p>
        </a>
      </div>
    </main>
    <footer>
      <img
        class="wakasyatiya-icon"
        src="../static/img/wakasyaudon.png"
        alt="footer_img"
      />
    </footer>
  </body>
</html>
