<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@3.0.2/destyle.css">
    <link rel="stylesheet" href="./static/css/top_page.css">
    <title>若鯱家アプリ</title>
</head>

<body>
        <div class="header">
            <a href="https://www.wakashachiya.co.jp/">
                <img src="./static/img/logo-removebg-preview 1.png" alt="">
            </a>
        </div>
        <div class="main-titokoba">
            <div class="titokoba">
                <a href="/audio_book" class="text-color">
                    <h1>ちとこば</h1>
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </a>
            </div>

        </div>
        <div class="main">
            <div class="main-game">
                <div class="game">
                    <a href="/game" class="text-color">
                        <h1>ゲーム</h1>
                        <p>テキストテキストテキスト<br>テキストテキストテキスト</p>
                    </a>
                </div>
            </div>

        </div>
        <header>
            <div class="icon">
                <img class="wakasyatiya-icon" src="./static/img/カレーうどん03-Photoroom 4のコピー.png" alt="">
            </div>
        </header>
</body>

</html>